Reading in lines from KMs paper.

In [19]:
import numpy as np
import matplotlib.pyplot as plt
import astropy.io.fits as fits
import os
import glob
from astropy.table import Table
from astropy.io import ascii

import astropy.units as u
from astropy import time, coordinates as coord
import astropy.constants as const



import pandas as pd


#matplotlib set up
%matplotlib inline
from matplotlib import rcParams
rcParams["figure.figsize"] = (14, 5)
rcParams["font.size"] = 20

In [2]:
df1 = pd.read_fwf('km_lines.txt',skiprows = 14, names=['Bytes', 'Format', 'Units', 'Label', 'Explanations'],skipfooter=80,widths=[9,4,8,12,65])
df = pd.read_fwf('km_lines.txt',skiprows=79,names=df1['Label'])
df.columns

Index(['Name', 'Num', 'Dist', 'r_Dist', 'SpType', 'r_SpType', 'Teff', 'r_Teff',
       'Rad', 'r_Rad', 'Vmag', 'r_Vmag', 'Kmag', 'r_Kmag', 'Age', 'r_Age',
       'EWHa', 'e_EWHa', 'r_EWHa', 'S', 'e_S', 'logRHK', 'e_log10RHK',
       'r_logRHK', 'Inst', 'n_Ha', 'n_CaII', 'L-SiIII', 'e_L-SiIII',
       'r_L-SiIII', 'L-Lya', 'e_L-Lya', 'r_L-Lya', 'L-SiII', 'e_L-SiII',
       'r_L-SiII', 'L-CII', 'e_L-CII', 'r_L-CII', 'L-MgII', 'e_L-MgII',
       'r_L-MgII', 'L-SiIV', 'e_L-SiIV', 'r_L-SiIV', 'L-HeII', 'e_L-HeII',
       'r_L-HeII', 'L-CIV', 'e_L-CIV', 'r_L-CIV', 'L-NV', 'e_L-NV', 'r_L-NV'],
      dtype='object')

In [3]:
df['Name']

0      GJ176
1     GJ667C
2      GJ581
3     GJ1214
4      GJ832
       ...
64     GJ273
65     GJ205
66     GJ588
67    GJ338A
68     GJ411
Name: Name, Length: 69, dtype: object

In [4]:
t1 =df[df['Name']=='TRAPPIST-1']

In [5]:
print(t1['L-MgII'])
print(t1['e_L-MgII'])

54   NaN
Name: L-MgII, dtype: float64
54   NaN
Name: e_L-MgII, dtype: float64

Oh well

In [6]:
print(t1['EWHa'])
print(t1['e_EWHa'])

54   -3.25676
Name: EWHa, dtype: float64
54    1.086027
Name: e_EWHa, dtype: float64

In [7]:
df['Name']

0      GJ176
1     GJ667C
2      GJ581
3     GJ1214
4      GJ832
       ...
64     GJ273
65     GJ205
66     GJ588
67    GJ338A
68     GJ411
Name: Name, Length: 69, dtype: object

In [36]:
stars = ['GJ676A', 'GJ649', 'GJ15A', 'GJ849', 'GJ163', 'GJ674', 'L980-5','GJ729', 'GJ699', 'GJ1132', 'LHS2686', 'TRAPPIST-1']

for star in stars:
    print(star)
    if star in np.array(df['Name']):
        print('yes')
    else:
        print('no')

GJ676A
yes
GJ649
yes
GJ15A
yes
GJ849
yes
GJ163
yes
GJ674
yes
L980-5
no
GJ729
yes
GJ699
yes
GJ1132
yes
LHS2686
yes
TRAPPIST-1
yes

In [17]:
t1

,Name,Num,Dist,r_Dist,SpType,r_SpType,Teff,r_Teff,Rad,r_Rad,...,r_L-SiIV,L-HeII,e_L-HeII,r_L-HeII,L-CIV,e_L-CIV,r_L-CIV,L-NV,e_L-NV,r_L-NV
54,TRAPPIST-1,55,12.43,2018A&A...616A...1G,M8V,2003AJ....126.2421C,2515,2018ApJ...853...30V,0.121,2018ApJ...853...30V,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.210000e+24,6.010000e+22,ThisWork